<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Seat">
                <md-content class="md-padding">

                    <h1>Seat Distribution</h1>

                    <canvas id="seat-line"
                            class="chart chart-line"
                            chart-data="vm.seatData"
                            chart-labels="vm.seatLabels"
                            chart-legend="true"
                            chart-series="vm.seatSeries"
                            chart-click="vm.seatOnClick"
                            width="5"
                            height="1">
                    </canvas>

                </md-content>
            </md-tab>
            <md-tab label="Greeting">
                <md-content class="md-padding">

                    <h1>Greet Distribution</h1>

                    <canvas id="greet-line"
                            class="chart chart-line"
                            chart-data="vm.greetData"
                            chart-labels="vm.greetLabels"
                            chart-legend="true"
                            chart-series="vm.greetSeries"
                            chart-click="vm.greetOnClick"
                            width="5"
                            height="1">
                    </canvas>

                </md-content>
            </md-tab>
            <md-tab label="three">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Tab Three</h1>
                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>