<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Seat">
                <md-content class="md-padding">

                    <h1>Seat Distribution</h1>

                    <canvas id="seat-line"
                            class="chart chart-line"
                            chart-data="vm.seatData"
                            chart-labels="vm.seatLabels"
                            chart-legend="true"
                            chart-series="vm.seatSeries"
                            chart-click="vm.seatOnClick"
                            width="5"
                            height="1">
                    </canvas>

                </md-content>
            </md-tab>
            <md-tab label="Greeting">
                <md-content class="md-padding">

                    <h1>Greet Distribution</h1>

                    <canvas id="greet-line"
                            class="chart chart-line"
                            chart-data="vm.greetData"
                            chart-labels="vm.greetLabels"
                            chart-legend="true"
                            chart-series="vm.greetSeries"
                            chart-click="vm.greetOnClick"
                            width="5"
                            height="1">
                    </canvas>

                </md-content>
            </md-tab>
            <md-tab label="three">
                <md-content class="md-padding">

                    <h1>Wait Duration</h1>

                    <canvas id="greet-line"
                            class="chart chart-line"
                            chart-data="vm.averageWaitDurationData"
                            chart-labels="vm.averageWaitDurationLabels"
                            chart-legend="true"
                            chart-series="vm.averageWaitDurationSeries"
                            chart-click="vm.averageWaitDurationOnClick"
                            width="5"
                            height="1">
                    </canvas>

                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>