<div ng-show="vm.logs && vm.logs.length">

    <div class="row">
        <div class="col-md-1">Location</div>
        <div class="col-md-1">Date</div>
        <div class="col-md-1">Description</div>
        <div class="col-md-1">Distance</div>
        <div class="col-md-1">Duration</div>
        <div class="col-md-1">Pace</div>

    </div>

    <div class="row" ng-repeat="log in vm.logs">
        <div class="col-md-1">{{ log.location }}</div>
        <div class="col-md-1">{{ log.date }}</div>
        <div class="col-md-1">{{ log.description }}</div>
        <div class="col-md-1">{{ log.distance }}</div>
        <div class="col-md-1">{{ log.duration }}</div>
        <div class="col-md-1">{{ log.pace }}</div>
    </div>

</div>

<a class="btn btn-primary btn-fab btn-raised mdi-content-add btn-add-new-post"
    href="javascript:void(0)"
    ng-show="vm.isAuthenticated"
    ng-click="vm.newPost()">Add new user</a>