<div class="home-header content-section">

    <h1>Past 30 days</h1>

    <div class="home-header-left">

        <h2><span class="big-value">{{ vm.numberOfJourneys }}</span> journeys</h2>
        <h2><span class="big-value">{{ vm.numberOfRides }}</span> rides</h2>
        <h2><span class="big-value">{{ vm.averageRating | number:2 }}</span> average rating</h2>

    </div>

    <div class="home-header-right">

        <canvas id="header-timeline-bar"
                class="chart chart-bar"
                chart-data="vm.timelineData"
                chart-labels="vm.timelineLabels"
                chart-series="vm.timelineSeries"
                width="5"
                height="1">
        </canvas>

    </div>

</div>


<div class="home-content content-section">

    <h1>Overall Statistics</h1>

    <div>

        <div class="mini-section">

            <div>

                <h2><span class="big-value">{{ vm.numberOfJourneys }}</span> Journeys</h2>
                <h2><span class="big-value">{{ vm.numberOfRides}}</span> Rides</h2>
                <h2><span class="big-value">{{ vm.averageRating | number:2 }}</span> Average Rating</h2>

            </div>

        </div>

        <div class="overall-pie-chart mini-section">

            <h2 class="center">Seat Distribution</h2>

            <canvas id="seat-pie"
                class="chart-base chart-canvas"
                chart-type="vm.seatPieType"
                chart-data="vm.seatPieData"
                chart-labels="vm.seatPieLabels"
                chart-legend="true">
            </canvas>

        </div>

        <div class="overall-pie-chart mini-section">

            <h2 class="center">Greet Distribution</h2>

            <canvas id="greet-pie"
                    class="chart-base chart-canvas"
                    chart-type="vm.greetPieType"
                    chart-data="vm.greetPieData"
                    chart-labels="vm.greetPieLabels"
                    chart-legend="true">
            </canvas>

        </div>

        <div class="mini-section">

            <h2><span class="value-label">Avg. Distance: </span><span class="big-value">{{ vm.averageDistance | number:2 }}</span> m</h2>
            <h2><span class="value-label">Avg. Waiting People: </span><span class="big-value">{{ vm.averagePeopleWaiting | number:2 }}</span></h2>
            <h2><span class="value-label">Avg. Boarding People: </span><span class="big-value">{{ vm.averagePeopleBoarding | number:2 }}</span></h2>
            <h2><span class="value-label">Avg. Travel Duration: </span><span class="big-value">{{ vm.averageTravelDuration | number:2 }}</span></h2>
            <h2><span class="value-label">Avg. Waiting Duration: </span><span class="big-value">{{ vm.averageWaitingDuration | number:2 }}</span></h2>

        </div>

    </div>

</div>


<a class="btn btn-primary btn-fab btn-raised mdi-content-add btn-add-new-post"
    href="javascript:void(0)"
    ng-show="vm.isAuthenticated"
    ng-click="vm.newPost()">Add new user</a>